<% provide(:title, 'Notifications') %>
<table class="table table-striped notifications-table">
	<tr id="table-header">
		<th><strong>Content</strong></th>
		<th><strong>Time</strong></th>
	</tr>
	<% unless @unread.compact.empty? %>
		<% @unread.each do |n| %>
			<tr class="unread-notification">
				<th><%= n.content %></th>
				<th><%= n.created_at %></th>
			</tr>
		<% end %>
		<hr>
	<% end %>
	<% unless @read.compact.empty? %>
		<% @read.each do |n| %>
			<tr>
				<th><%= n.content %></th>
				<th><%= n.created_at %></th>
			</tr>
		<% end %>
	<% end %>
</table>