<% provide(:title, 'Search Result') %>
<%= will_paginate %><br>
<table class="table table-striped" id="books-table">
	<tr id="table-header">
		<th><strong>Title</strong></th>
		<th><strong>Author</strong></th>
		<th><strong>Genres</strong></th>
		<th><strong>Publisher</strong></th>
		<th><strong>Publication Date</strong></th>
		<th><strong>Num. of pages</strong></th>
		<th><strong>Availability</strong></th>
	</tr>
	<%= render @searches %>
</table>
<%= will_paginate %>