/* books index */

.col-name {
	font-size: 1.5em;
	font-weight: bolder;
}

/* books details */

.book-details {
	margin-top: 30px;
}

.rectangle {
	width: 100%;
  height: 400px;
  background: linear-gradient(to top, #f05053, #e1eec3);
  margin-bottom: 30px;
}

.rectangle h2 {
	line-height: 400px;
}

.book-detail-title {
	font-weight: bolder;
}

.book-info {
	margin-bottom: 20px;
}

.book-introduction {
	float: left;
	margin-top: 30px;
}