<footer class="footer">
  <small>
    The <a href="http://www.railstutorial.org/">Capstone Library</a>
    by <a href="https://www.facebook.com/groups/143569486373383/">6A - Team</a>
  </small>
</footer>